.navbar-top{
  width: 100%;
  height: 56px;
  line-height: 56px;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgb(174, 230, 172);
}

.contentbox{
  margin-top: 56px;
  width: 100%;
  height: calc(100% - 56px);
}

.nav-top-item{
  height: 56px;
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
}

.nav-top-item:hover{
  text-decoration: underline;
}

.nav-top-item.last{
  margin-right: 0px;
}


.full-menu{
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-menu-close{
  position: absolute;
  top: 20px;
  right: 20px;
}

.full-menu-taller{
  height: 70px;
}
.full-menu-item{
  height: 72px;
  line-height: 72px;
  text-align: center;
}

.age-hero{
  background-color: hsl(133, 51%, 47%);
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.win-title{
  cursor: grab;
  padding-left: 6px;
  padding-right: 6px;
  width: calc(100% - 6px * 2);
  font-size: 12px;
  line-height: 26px;
  height: 26px;
  background: rgb(170, 170, 170);
}
.win-content{
  height: calc(100% - 26px);
  background: rgb(207, 207, 207);
}
.win-box{
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.win-wrap{
  position: relative;
}
.win-resize{
  opacity: 0;
  border-radius: 8px;
  width: 12px;
  height: 12px;
  background-color: rgba(43, 43, 43, 0.74);
  transition: opacity 0.3s;
  border: white solid 1px;
}
.win-resize:hover{
  cursor: grab;
  opacity: 1;
}
.win-box-top-left{
  position: absolute;
  top: -6px;
  left: -6px;
}
.win-box-top-right{
  position: absolute;
  top: -6px;
  right: -6px;
}
.win-box-bottom-left{
  position: absolute;
  bottom: -6px;
  left: -6px;
}
.win-box-bottom-right{
  position: absolute;
  bottom: -6px;
  right: -6px;
}

.dndot{
  width: 50px;
  height: 50px;
  background-color: rgb(161, 125, 125);
}